
*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
}


.tab-contents {
    padding: 3rem 6rem;
    display: flex;
    max-width: 1110px;
    margin: auto;
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
}

.courses-list {
    list-style: none;
}

.courses-item {
    border: none ;
    width: 100% ;
    border-bottom: solid 10px #797dbe ;
    display: flex;
}
@media(max-width:720px){
    .image_wrapper{
        display: none;
    }
    .tab-contents{
        padding: 3rem 0.5rem;
        width: 100%;
    }

}
.image_wrapper {
    min-height: 152px;
    min-width: 152px;
    margin-right: 20px;
    float: left;
    overflow: hidden;
    -o-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: darkslateblue;
}

.no-style-a {
    text-decoration: none;
    color: black;
}

.vertical-box {
    display: flex;
    flex-direction: column;
    word-break: break-word;
    gap:10px
}

.horizontal-box {
    display: flex;
    flex-direction: row;
    font-weight: 300;
}
.box-header{
    justify-content: space-between;
    flex-wrap: wrap;
}
.horizontal-box .course-name{
    font-size: 1.5rem;
    font-weight: 600;
}
.btn{
    font-weight: 300;
    background: #a94343;
    padding: 0 1rem;
    box-shadow: 0 0 6px -2px #262626;
    color: #edf6ff;
    text-align: center;
    cursor: pointer;
}
.btn:hover{
    background: #a7453b;
    transition: color 350ms;
}
.create{
    background-color: #4d529e;
    /* width: 50%; */
    /* justify-self: center; */
}
.create:hover{
    background-color: #34376b;

    transition: all 350ms;
}
.horizontal-box .course-category {
    font-weight: 300;
    background: linear-gradient(
            45deg, #34376b, #4d529e);
    padding: 0 1rem;
    box-shadow: 0 0 6px -2px #262626;
    color: #edf6ff;
}

.card-info {
    text-align: left;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 6px;
}

.content-box {
    display: block;
    min-height: 150px;
    max-width: 1200px;
    width: 100%;
    padding: 12px 0;
}


a.pagination-link {
    text-decoration: none;
    min-width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    padding: 3px;
    background-color: #a94343;
    flex-wrap: wrap;
    color: white;
    align-content: center;
    justify-content: center;
}

a.pagination-link:hover {
    opacity: 0.7;
}

a.pagination-link.active {
    background: #5e2a2a;
}
.pagination {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
}