body {
    font-family: Helvetica, sans-serif;
    background: linear-gradient(#ff8f8f, #7a4242);
    margin: 0;
    line-height: 30px;
}

.header {

    width: 100%;
    text-align: center;
}

.header h1 {
    font-size: 25px;
    font-weight: 500;
    color: white;
    cursor: default;
    background-color: #5056a8eb;
    padding: 6px 10px;
    margin: 7px 0px 7px 0px;

}

.container {
    margin: 5% auto 15% auto;
    min-width: 270px;
    max-width: 300px;
    color: rgb(139, 139, 139);
    background-color: #333;
    padding: 10px;

    border: 0px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px;
    display: inline-block;
    margin: 7px 0px 7px 0px;
    border: 5px solid #5056a8eb;
    background-color: #333;
    border-radius: 0px;
    box-sizing: border-box;
    outline: none;
    color: rgb(224, 224, 224);
}

input:focus {
    border-color: rgba(93, 100, 191, 0.92);
    background-color: rgb(61, 61, 61);
}

button {
    background-color: #5056a8eb;
    color: white;
    padding: 4px;
    margin: 7px 0px 0px 0px;
    border: 0px solid #5056a8eb;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
    font-size: 25px;
    outline: none;
}

button:hover {
    background-color: rgba(89, 96, 194, 0.92);
    border-color: #5960C2EB;
}
.error_message{
    color: #e64848;
    font-size: 0.8rem;
}
.registration-link{
    color: #acbaa8;
    font-size: 0.8rem;
}